@import url("https://fonts.googleapis.com/css2?family=Ysabeau+Infant:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root {
  font-size: 0.625rem;
  color-scheme: light;
  -webkit-tap-highlight-color: transparent;
}
* {
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #fff;
}
#root {
  font-family: "Ysabeau Infant", "Times New Roman", Times, serif;
  font-size: 2rem;
  max-width: 60em;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  row-gap: 1em;
  padding: 0.5em 2%;
}
h1 {
  font-size: 1.5em;
  margin: 0;
  text-transform: uppercase;
}

.search-box {
  max-width: 14em;
  display: flex;
  position: relative;
  z-index: 1;
}
.search-item {
  border: 1px solid gray;
  outline: 0 solid gray;
  outline-offset: -2px;
}
.search-item:focus {
  outline-width: 2px;
  outline-color: black;
}
.search-input {
  font-family: inherit;
  font-size: 1em;
  width: 100%;
  padding: 0.2em;
}
.search-ok {
  font-size: 1em;
  width: 2em;
  background: #ddd no-repeat center / 1em;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgdmlld0JveD0iMCAwIDUxMiA1MTIiIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCA1MTIgNTEyIj48Zz48Zz48cGF0aCBkPSJtMzA0LjcsMTAuOWMtMTA4LjUsMC0xOTYuNCw4Ny45LTE5Ni40LDE5Ni40IDAsNDYuOSAxNi40LDg5LjkgNDMuOCwxMjMuN2wtMTM1LDEzNWMtOCw4LTgsMjAuOSAwLDI4LjkgOCw4IDIwLjksOCAyOC45LDBsMTM1LTEzNWMzMy44LDI3LjQgNzYuOCw0My44IDEyMy43LDQzLjggMTA4LjUsMCAxOTYuNC04Ny45IDE5Ni40LTE5Ni40cy04OC0xOTYuNC0xOTYuNC0xOTYuNHptMCwzNTJjLTg1LjksMC0xNTUuNi02OS43LTE1NS42LTE1NS42IDAtODUuOSA2OS43LTE1NS42IDE1NS42LTE1NS42IDg1LjksMCAxNTUuNiw2OS43IDE1NS42LDE1NS42IDUuNjg0MzRlLTE0LDg1LjktNjkuNywxNTUuNi0xNTUuNiwxNTUuNnoiPjwvcGF0aD48L2c+PC9nPjwvc3ZnPg==");
  cursor: pointer;
}
#search-list {
  max-height: calc(1.5em * 12);
  position: absolute;
  left: 0;
  right: 0;
  top: calc(100% - 1px);
  background-color: #fff;
  outline: 1px solid gray;
  outline-offset: -1px;
  overflow-y: auto;
  scrollbar-width: thin;
  z-index: -1;
}
#search-list:empty {
  display: none;
}
.search-list__item {
  line-height: 1.5;
  display: block;
  padding: 0 0.4em;
  cursor: pointer;
}
.search-list__item:hover {
  background-color: #f4f4f4;
}
.search-list__item._active {
  background-color: #eee;
  outline: 1px solid #bbb;
}

#content {
  flex: 1;
  display: flex;
  border-top: 1px solid gray;
}
.content-box:first-child {
  flex: 1;
  padding-right: 0.5em;
  white-space: pre-line;
}
.content-box:last-child {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 0.5em;
  border-left: 1px solid gray;
  user-select: none;
}
.content-box:last-child:empty {
  display: none;
}
a {
  color: royalblue;
  text-decoration: none;
}
a:hover {
  color: mediumblue;
}
a._active {
  color: seagreen;
}

@media screen and (max-width: 31.25rem) {
  h1 {
    font-size: 1em;
  }
}

@media screen and (max-width: 38.75rem) {
  .content-box:not(:empty) + .content-box:last-child {
    display: none;
  }
}