@import url("https://fonts.googleapis.com/css2?family=Ysabeau+Infant:ital,wght@0,400;0,700;1,400;1,700&display=swap");

@font-face {
  font-family: "Garamond";
  src: local("Garamond"),
       local("Garamond Regular"),
       local("Garamond-Regular"),
       url("fonts/Garamond-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Garamond";
  src: local("Garamond Bold"),
       local("Garamond-Bold"),
       url("fonts/Garamond-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Garamond";
  src: local("Garamond Italic"),
       local("Garamond-Italic"),
       url("fonts/Garamond-Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Garamond";
  src: local("Garamond Bold Italic"),
       local("Garamond-BoldItalic"),
       url("fonts/Garamond-BoldItalic.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Segoe UI";
  src: local("Segoe UI"),
       local("Segoe UI Regular"),
       local("SegoeUI"),
       local("SegoeUI-Regular"),
       url("fonts/SegoeUI-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Segoe UI";
  src: local("Segoe UI Bold"),
       local("SegoeUI-Bold"),
       url("fonts/SegoeUI-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Segoe UI";
  src: local("Segoe UI Italic"),
       local("SegoeUI-Italic"),
       url("fonts/SegoeUI-Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Segoe UI";
  src: local("Segoe UI Bold Italic"),
       local("SegoeUI-BoldItalic"),
       url("fonts/SegoeUI-BoldItalic.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

:root {
  font-size: 0.625rem;
  color-scheme: light;
  -webkit-tap-highlight-color: transparent;
}
body::before {
  --size: 30rem;
  content: "";
  width: var(--size);
  height: calc(var(--size) / 1.5);
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  background: url("../spqr.png") no-repeat right / contain;
  pointer-events: none;
  opacity: 0.125;
}
* {
  margin: 0;
  box-sizing: border-box;
}
main a {
  text-decoration: none;
  color: royalblue;
  background-color: transparent;
}
main button {
  font-family: inherit;
  font-size: 1em;
  cursor: pointer;
}

main {
  --viz: hidden;
  --line-height: 0.8;
  --nav-display: none;
  --blocks-display: flex;
  font-family: "Ysabeau Infant", "Helvetica Neue", Helvetica, sans-serif;
  font-size: 2rem;
  min-width: 40rem;
  max-width: 43em;
  min-height: 100vh;
  position: relative;
  padding: 0.5em;
  margin: 0 auto;
  color: #222;
  -webkit-user-select: none;
  user-select: none;
  z-index: 11;
}
main.is-menu-shown {
  --nav-display: block;
}
main[data-mode="interlinear"] {
  --viz: visible;
  --line-height: normal;
}
main[data-mode="literary"] {
  --line-height: normal;
  --blocks-display: block;
}
.lit-heading {
  font-size: 1.75em;
  padding-bottom: 0.4em;
  color: #666;
}

/* TOOLBAR */

.lit-toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 0.4em;
  position: sticky;
  top: -1px;
  padding: 0.5em 0;
  background-color: #fff;
  border-bottom: 1px solid #aaa;
}
.lit-action {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-variant: all-small-caps;
  font-size: 0.85em;
  width: 3.4em;
  height: 2em;
  vertical-align: top;
  padding: 0;
  background-color: #eee;
  border: 2px solid #555;
  border-radius: 0.3em;
  transition: background-color 0.2s, border-color 0.2s;
}
.lit-action:hover {
  background-color: #fff;
  border-color: #000;
}
.lit-action[data-action="interlinear"] {
  line-height: 0.5;
}
main[data-mode="literary"] .lit-action[data-action="literary"],
main[data-mode="interlinear"] .lit-action[data-action="interlinear"] {
  background-color: #fff;
  border-color: #000;
}
.lit-ru {
  font-size: 0.6em;
  display: block;
  margin-top: 0.5em;
  opacity: 0.7;
  pointer-events: none;
}
.lit-top-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 0.2em;
}
.lit-title {
  font-size: 1em;
}
.lit-menu-switcher {
  width: 1.5em;
  height: 2em;
  padding: 0;
  background: url("data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgMzIgMzIiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0ibTI4LjU1NCAxNy4yNWgtMjUuMTA4YTEuMjUgMS4yNSAwIDAgMSAwLTIuNWgyNS4xMDhhMS4yNSAxLjI1IDAgMSAxIDAgMi41eiI+PC9wYXRoPjxwYXRoIGQ9Im0yOC41NTQgMTAuMTA3aC0yNS4xMDhhMS4yNSAxLjI1IDAgMSAxIDAtMi41aDI1LjEwOGExLjI1IDEuMjUgMCAxIDEgMCAyLjV6Ij48L3BhdGg+PHBhdGggZD0ibTI4LjU1NCAyNC4zOTNoLTI1LjEwOGExLjI1IDEuMjUgMCAwIDEgMC0yLjVoMjUuMTA4YTEuMjUgMS4yNSAwIDEgMSAwIDIuNXoiPjwvcGF0aD48L3N2Zz4=") no-repeat center / cover;
  border: none;
  outline: none;
}

/* AUDIO */

.audio {
  font-size: 0.85em;
  display: flex;
  align-items: center;
  column-gap: 0.3em;
  padding: 0.1em 0.2em;
  color: black;
  background-color: #f4f4f4;
  border: 1px solid #999;
  border-radius: 0.2em;
}
.audio[hidden] {
  display: none;
}
.audio-btn {
  font-size: 1.5em;
  width: 1em;
  height: 1em;
  padding: 0;
  color: inherit;
  background: no-repeat center / 0.75em;
  border: none;
  border-radius: 50%;
}
.audio-btn:hover {
  background-color: #ddd;
}
.audio-play {
  background-image: url("data:image/svg+xml;base64,PHN2ZyBmaWxsPSJXaW5kb3dUZXh0IiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxwYXRoIGQ9Ik04IDV2MTRsMTEtN3oiLz4KICAgIDxwYXRoIGQ9Ik0wIDBoMjR2MjRIMHoiIGZpbGw9Im5vbmUiLz4KPC9zdmc+");
}
.audio-play.__paused {
  background-image: url("data:image/svg+xml;base64,PHN2ZyBmaWxsPSJXaW5kb3dUZXh0IiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxwYXRoIGQ9Ik02IDE5aDRWNUg2djE0em04LTE0djE0aDRWNWgtNHoiLz4KICAgIDxwYXRoIGQ9Ik0wIDBoMjR2MjRIMHoiIGZpbGw9Im5vbmUiLz4KPC9zdmc+");
}
.audio-time {
  font-family: Consolas, monospace;
  font-size: 0.75em;
  word-spacing: -0.3em;
  white-space: nowrap;
}
.audio-track {
  --fill: 0%;
  width: 4em;
  height: 0.16em;
  position: relative;
  margin: 0 0.5em;
  background-color: #ccc;
  border-radius: 0.1em;
  outline: none;
  cursor: pointer;
}
.audio-track::before {
  content: "";
  width: var(--fill);
  height: 100%;
  display: block;
  background-color: currentColor;
  border-radius: inherit;
}
.audio-track::after {
  content: "";
  font-size: 0.5em;
  width: 1em;
  height: 1em;
  position: absolute;
  left: calc(var(--fill) - 0.5em);
  top: calc(50% - 0.5em);
  background-color: currentColor;
  border-radius: 50%;
}
.audio-track:focus::after {
  box-shadow: 0 0 0 0.2em #4449;
}
.audio-vol {
  background-image: url("data:image/svg+xml;base64,PHN2ZyBmaWxsPSJXaW5kb3dUZXh0IiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxwYXRoIGQ9Ik0zIDl2Nmg0bDUgNVY0TDcgOUgzem0xMy41IDNjMC0xLjc3LTEuMDItMy4yOS0yLjUtNC4wM3Y4LjA1YzEuNDgtLjczIDIuNS0yLjI1IDIuNS00LjAyek0xNCAzLjIzdjIuMDZjMi44OS44NiA1IDMuNTQgNSA2Ljcxcy0yLjExIDUuODUtNSA2LjcxdjIuMDZjNC4wMS0uOTEgNy00LjQ5IDctOC43N3MtMi45OS03Ljg2LTctOC43N3oiLz4KICAgIDxwYXRoIGQ9Ik0wIDBoMjR2MjRIMHoiIGZpbGw9Im5vbmUiLz4KPC9zdmc+");
}
.audio-vol.__muted {
  background-image: url("data:image/svg+xml;base64,PHN2ZyBmaWxsPSJXaW5kb3dUZXh0IiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxwYXRoIGQ9Ik0xNi41IDEyYzAtMS43Ny0xLjAyLTMuMjktMi41LTQuMDN2Mi4yMWwyLjQ1IDIuNDVjLjAzLS4yLjA1LS40MS4wNS0uNjN6bTIuNSAwYzAgLjk0LS4yIDEuODItLjU0IDIuNjRsMS41MSAxLjUxQzIwLjYzIDE0LjkxIDIxIDEzLjUgMjEgMTJjMC00LjI4LTIuOTktNy44Ni03LTguNzd2Mi4wNmMyLjg5Ljg2IDUgMy41NCA1IDYuNzF6TTQuMjcgM0wzIDQuMjcgNy43MyA5SDN2Nmg0bDUgNXYtNi43M2w0LjI1IDQuMjVjLS42Ny41Mi0xLjQyLjkzLTIuMjUgMS4xOHYyLjA2YzEuMzgtLjMxIDIuNjMtLjk1IDMuNjktMS44MUwxOS43MyAyMSAyMSAxOS43M2wtOS05TDQuMjcgM3pNMTIgNEw5LjkxIDYuMDkgMTIgOC4xOFY0eiIvPgogICAgPHBhdGggZD0iTTAgMGgyNHYyNEgweiIgZmlsbD0ibm9uZSIvPgo8L3N2Zz4=");
}

@media screen and (max-width: 28.75rem) {
  .audio-time {
    font-size: 0.7em;
    word-spacing: -0.35em;
  }
  .audio-track {
    width: 2.5em;
    margin: 0 0.35em;
  }
}

/* NAV */

.lit-nav-shell {
  display: var(--nav-display);
  position: absolute;
  inset: 0;
  background-color: #fffa;
}
.lit-nav {
  min-width: 20em;
  height: 100%;
  max-height: 100vh;
  float: right;
  position: sticky;
  top: 0;
  padding: 0.5em 0;
  background-color: #f9f9f9;
  border: 0 solid gray;
  border-width: 0 1px;
  overflow-y: auto;
  scrollbar-width: thin;
}
.lit-nav__item {
  display: block;
  padding: 0.3em 1em;
  text-decoration: none;
  color: #2f4d6b;
  border: 0 solid transparent;
  border-width: 1px 0;
}
.lit-nav__block {
  padding-left: 2em;
}
.lit-nav__link:is(:hover, :focus) {
  background-color: #eee;
  border-color: #bbb;
}
.lit-nav__item._disabled {
  color: gray;
  pointer-events: none;
}
.lit-menu-close {
  float: right;
  margin-right: -19.5em;
  position: sticky;
  top: 0.5em;
}

/* CONTENT */

.lit-content {
  line-height: var(--line-height);
  padding-top: 0.75em;
  text-align: justify;
  white-space: pre-line;
}
.text-block {
  display: var(--blocks-display);
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 1.4em;
}
.text-block:first-child {
  margin-top: 0;
}
sup.num {
  font-size: 0.65em;
  line-height: normal;
  display: inline-block;
  vertical-align: top;
  margin-right: 0.3em;
  margin-top: -0.1em;
  color: brown;
}
.text-item {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  padding-right: 0.3em;
}
.text-item:last-child {
  margin-right: auto;
}
.word._lex,
.word[data-tip] {
  color: royalblue;
  cursor: pointer;
}
.word._lex:hover,
.word[data-tip]:hover {
  color: #246088;
}
.word._gram {
  color: inherit;
  text-decoration: underline dotted brown;
  text-decoration-thickness: 2px;
}
.word > * {
  pointer-events: none;
}
.subscription {
  font-size: 0.7em;
  display: block;
  color: #666;
  visibility: var(--viz);
}
.c-red {
  color: brown;
}
.ff-2 {
  font-family: "Segoe UI", "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

/* TIP */

#tip {
  --x: 0;
  --y: 0;
  font-family: "Garamond", "Times New Roman", Times, serif;
  font-size: 0.9em;
  max-width: 32rem;
  max-width: min(36rem, 92vw);
  line-height: 1.2;
  position: fixed;
  left: 0;
  top: 0;
  padding: 0.2em 0.5em;
  background-color: #f4f4f4;
  border: 2px solid #888;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.35);
  opacity: 1;
  transition-property: opacity, display;
  transition-behavior: allow-discrete;
  transition-duration: 0.125s;
  transition-delay: 0.125s;
  transform: translate(var(--x), var(--y));
  white-space: pre-line;
  pointer-events: none;
}
#tip[hidden] {
  display: none;
  opacity: 0;
  transition-delay: 0s;
}
@starting-style {
  #tip:not([hidden]) {
    opacity: 0;
  }
}

#lexicon {
  --lex-min-height: auto;
  --lex-pad: 0;
  --lex-border: none;
  width: 100%;
  height: 0;
  display: block;
  -webkit-position: sticky;
  position: sticky;
  bottom: 0;
  padding-bottom: 0.75em;
  background-color: #fff;
  border-top: 0 solid #999;
  outline: none;
  visibility: hidden;
  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-width: thin;
  -webkit-user-select: text;
  user-select: text;
}
#lexicon._shown {
  height: 40vh;
  border-top-width: 2px;
  visibility: visible;
}
#lexicon big {
  display: block;
  visibility: hidden;
  margin-bottom: -3em;
}

/* @MEDIA */

@media screen and (max-width: 31.25em) {
  main {
    font-size: 1.8rem;
  }
  .subscription {
    font-size: 0.8em;
  }
}
@media screen and (max-width: 25em) {
  main {
    font-size: 1.7rem;
  }
}